################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySave 3.0.0/FileContentIndex/7bd584b7-ee04-4716-b110-246dd0d95cc0.vsidx
