################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySave 3.0.0/FileContentIndex/7bd584b7-ee04-4716-b110-246dd0d95cc0.vsidx
/.vs/EasySave 3.0.0/FileContentIndex/be3ed45e-582b-4ef5-b2cd-f65fd8660ea9.vsidx
/.vs/EasySave 3.0.0/FileContentIndex/271c38ad-500b-49ea-9e4f-22127d3ca1a1.vsidx
